body {
  --theame-color: rgb(77, 137, 247);
  color: whitesmoke;
}

.margin {
  margin: 0 auto;
}

.app__body {
  display: flex;
  width: 90vw;
  height: 80vh;
  box-shadow: -1px 4px 20px -4px rgba(0, 0, 0, 0.5);
  background-color: white !important;
}

.nav-wrapper {
  padding: 0 20px;
}

a,
li {
  color: black !important;
}
