.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: 20px 20px;
}

.logo > .link > h4 {
  color: var(--theame-color);
  cursor: pointer;
  margin: 0 auto;
}

.right {
  display: flex;
  align-items: center;
}

.right > .link > h6 {
  cursor: pointer;
  padding: 10px 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 560;
  color: rgb(85, 84, 84);
}

.right > .link > h6:hover {
  background-color: var(--theame-color);
  border-radius: 50% !important;
  color: whitesmoke;
  transition: background-color 0.4s ease-out;
}

.right > .following_posts > h6:hover {
  background-color: white !important;
  color: var(--theame-color);
}

.right > .link > img {
  margin-top: 5px !important;
}

.right > .logout > h6 {
  color: red !important;
  font-weight: 500;
}

.right > .logout > h6:hover {
  color: whitesmoke !important;
  transition: color 0.3s ease-out;
}

.modal-content {
  color: rgb(44, 43, 44);
  font-weight: 700;
}

.modal-content > input {
  border-bottom: 1px solid var(--theame-color) !important;
}

.modal-footer > button {
  background-color: var(--theame-color);
  color: whitesmoke;
  margin-right: 18px !important;
}

@media screen and (max-width: 700px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .logo > .link > h4 {
    padding-top: 15px;
    padding-bottom: 5px;
  }
}
